.ht{
    background-image: url(home-image.jpg);
    font-family: sans-serif;
}
div.body{
    background-color: burlywood;
    margin-top: 100px;
    }
div.body1{
    margin-left: 70px;
    margin-bottom: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}
select.ba{
    background-color: brown;
    color: white;
}

.come{
    background-color: white;
    color: black;
}
h1.head{
    
    text-transform: uppercase;
}